<table mat-table [dataSource]="pokemons">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let pokemon"> {{pokemon.name | uppercase | remplace}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let pokemon">
      <a (click)="navigateToDetails(pokemon)" class="pokemon-url">
        {{pokemon.url}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef> Favorite </th>
    <td mat-cell *matCellDef="let pokemon">
      <mat-icon
        (click)="toggleFavorite(pokemon)"
        [ngClass]="{'favorite-icon': pokemon.isFavorite}"
        class="favorite-icon">
        {{ pokemon.isFavorite ? 'favorite' : 'favorite_border' }}
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

