<div *ngIf="pokemonDetail">
  <!-- Nombre del Pokémon -->
  <h1>{{ pokemonDetail.name | uppercase | remplace }}</h1>

  <!-- Imágenes del Pokémon -->
  <div>
    <h2>Imágenes</h2>
    <img *ngIf="pokemonDetail.sprites?.front_default" [src]="pokemonDetail.sprites.front_default" alt="{{ pokemonDetail.name }} front" />
    <img *ngIf="pokemonDetail.sprites?.back_default" [src]="pokemonDetail.sprites.back_default" alt="{{ pokemonDetail.name }} back" />
  </div>

  <!-- Habilidades del Pokémon -->
  <div>
    <h2>Habilidades</h2>
    <ul>
      <li *ngFor="let ability of pokemonDetail.abilities">
        {{ ability.ability.name }}
      </li>
    </ul>
  </div>

  <!-- Juegos en los que ha estado presente -->
  <div>
    <h2>Juegos</h2>
    <ul>
      <li *ngFor="let game of pokemonDetail.game_indices">
        {{ game.version.name | firsUpper }}
      </li>
    </ul>
  </div>
</div>

